[user]
	name = Elias Kouskoumvekakis
	email = eliaskousk@gmail.com
	signingkey = F0335053
[branch]
	autosetuprebase = always


[alias]
        ci = commit
        st = status
        co = checkout
        oneline = log --pretty=oneline
        br = branch
        la = log --pretty=\"format:%ad %h (%an): %s\" --date=short
[github]
	user = eliaskousk
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[color "diff-highlight"]

[color "diff"]

[diff-so-fancy]
	stripLeadingSymbols = false
[pull]
	rebase = true
[log]
    date = relative
[format]
#  pretty = format:%h %Cblue%ad%Creset %ae %Cgreen%s%Creset
    pretty = format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s

